<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mis Perris</title>
<link href="{% static 'css/estilocamp.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body background="{% static 'img/header.jpg' %}">
<div id="wrapper" >
	<div id="wrapper-bgbtm">
		<div id="header">
			<div id="logo">
				<h1>Mis Perris </h1>
				
			</div>
		</div>
		<!-- end #header -->
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/Base">Home</a></li>
				
				<li><a href="/Contacto.html">Contacto</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="page">
			<div id="page-bgtop">
				
					<div id="content">
						<div class="post">
							<h2 class="title"><a style="color:#000000";>Bienvenido a mis perris </a></h2>
							<div class="entry">
								<p><img src="{% static 'img/22.jpg' %}" width="143" height="143" alt="" class="alignleft border" /><strong> Nuestra misión es frenar el abandono de mascotas a través de la educación de tenencia responsable, el rescate, rehabilitación y adopción de perros y la difusión de nuestro mensaje del bien animal.</p>
							</div>
						</div>
						
						<a> #ELIGEADOPTAR </a>
						
					</div>
					<!-- end #content -->
					
					<!-- end #sidebar -->
					<div style="clear: both;">&nbsp;</div>
				
			</div>
		</div>

	</div>
</div>
</body>
</html>
